<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>b5f6df39-9c79-4d5b-8f7c-a379be64c73d</DefaultValue>
      <Value>b5f6df39-9c79-4d5b-8f7c-a379be64c73d</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>ynyoLDcWYG+avjynA0MS3MGmOBRiX5qUafmTeK78AAY=</DefaultValue>
      <Value>ynyoLDcWYG+avjynA0MS3MGmOBRiX5qUafmTeK78AAY=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://instantintranetprojects.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>instantintranetprojects.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InstantIntranetProjects</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InstantIntranetProjects</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>